[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
lokachakra_verif = "GbMMLzLoDwSjk7R5dgFh3i5dUPcaqkHtBXF4NyhZFtjw"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "../deployer-keypair.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 \"tests/**/*.ts\""
